.DS_Store
_MACOSX
__MACOSX
.idea
.run
.vscode/sftp.json
.env

/content

/storage/cache
/storage/sessions
/storage/accounts
/storage/backups
/vendor
/node_modules
/public/media
/public/assets/dist
/kirby
site/languages/*
!site/languages/de.php

site/plugins/*
!site/plugins/baukasten-blocks/
!site/plugins/baukasten-blocks-preview/
!site/plugins/baukasten-field-labels/
!site/plugins/baukasten-field-methods/
!site/plugins/baukasten-layouts/
!site/plugins/baukasten-mime/
!site/plugins/baukasten-programmable-blueprints/
!site/plugins/baukasten-sitemap/
!site/plugins/baukasten-kirby-routes/
!site/plugins/baukasten-grid-blocks/
!site/plugins/baukasten-cache-manager/
