:root {
	--color-gray-900: #182d31;
	--color-background: #f3f3f4;
}

.k-tabs {
	background-color: var(--color-gray-300);
	gap: 2rem;
}

.k-header::before {
	float: right;
	content: "";
	margin-top: 10px;
	width: 150px;
	height: 35px;
	background-image: url("../img/baukasten-logo.svg");
	background-repeat: no-repeat;
	background-size: contain;
	clear: right;
}

.k-items[data-layout="cards"] .k-item-image .k-icon {
	--icon-size: 64px;
}

.k-items[data-layout="cardlets"] .k-item-image .k-icon {
	--icon-size: 48px;
}

.k-login-view form::before {
	content: url("../img/baukasten-logo.svg");
}

.k-login-fields {
	margin-top: 2rem;
}

/* .k-layout-selector-option:after {
	content: attr(value);
	font-size: 12px;
	font-weight: bold;
	display: block;
	color: #313740;
	position: relative;
	top: -50%;
} */

/* Webhook K4 fix */
.pju-webhook--btn {
	display: flex;
	padding: 1.75em 1.5em 1.875em;
}

/* Previews  */
.k-block-container-type-gallery .k-image,
.k-block-figure-container .k-image {
	min-height: 50px;
}
